.container {
  height: 100px;
  padding: 0px 50px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
}

.texts {
  margin-left: 20px;
  color: black;
}

.text:first-child {
  font-size: 12px;
  font-weight: 500;
}

.text:last-child {
  font-size: 20px;
  font-weight: bold;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: black;
}

.listItem {
  margin: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.subMenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.listItem:hover .subMenu {
  display: block;
}

.subList {
  padding: 10px 0;
  width: 160px;
  list-style: none;
  color: black;
}

.subList li {
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}

.subList li:hover {
  background-color: #f2f2f2;
}

.cart{
    position: relative;
}

.counter{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #d1411e;
}

@media screen and (max-width:480px) {
  .item:nth-child(2) {
    display: none;
  }

  .item:nth-child(1) {
    flex: 3;
  }
}